#accountPanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  backdrop-filter: blur(10vmax);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: none;
}
#accountPanel .material-symbols-rounded {
  font-variation-settings:
  'FILL' 1;
}
#accountInfoHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20%;
  width: 90%;
  gap: 2vw;
}
#profilePic {
  cursor: default;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 17vh;
  width: 17vh;
  margin: 0;
  border: none;
  border-radius: 50%;
}
#profilePicIcon {
  font-size: 17vh;
  border: none;
  border-radius: 50%;
}
#profileInfoCard {
  display: flex;
  flex-direction: column;
  height: 17vh;
  width: 60%;
  margin: 0;
  border: none;
  border-radius: 1rem;
}
#profileName {
  cursor: default;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  font-size: 3vmin;
  font-weight: 900;
  height: 65%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 3vw;
}
#bnLogin {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vmin;
  font-weight: 700;
  height: 60%;
  width: 90%;
  border: none;
  border-radius: 0.5rem;
}
#separator {
  display: flex;
  align-self: center;
  height: 0.01px;
  width: 95%;
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
}
#statsDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: top;
  height: 30%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 2vw;
  gap: 5vw;
}
#statsDiv button {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  height: 100%;
  gap: 1vw;
  border: none;
}
#statsDiv .material-symbols-rounded {
  font-size: 3vmin;
  font-family: 'Material Symbols Rounded';
}
#statsDiv button p {
  font-size: 2.5vmin;
}
#settingsPanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  height: 80%;
  width: 95%;
  margin: 0;
  padding: 0;
  gap: 0.5vh;
  border: none;
  border-radius: 1.5rem;
}
#settingsPanel::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
#buttonDiv {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: fit-content;
  min-height: 3.5rem;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  border: none;
}
#buttonDiv button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}
#settingBtnIcon {
  justify-self: center;
  align-self: center;
  height: fit-content;
  width: 10%;
  margin: auto;
  padding: auto;
}
.buttonTextContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}
#accountPanelSpace {
  height: 30vh;
  width: 100%;
  background: transparent;
  border: none;
  flex-shrink: 0;
}

#changeThemePanel,
#changePassPanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  height: 80%;
  width: 95%;
  margin: 0;
  padding: 0;
  gap: 0.5vh;
  border: none;
  border-radius: 1.5rem;
}

#changeThemePanelTopBar,
#changePassPanelTopBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  height: 10%;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 0.5vw;
}

#bnBackChangeThemePanel,
#bnBackChangePassPanel{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
}
#changeThemeConDiv,
#changePassConDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#ChangeBlurDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 95%;
  margin: 0;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
#changeBlurToggle {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: blue;
  height: 2vh;
  width: 8vw;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 1vh;
}
#changeBlurToggleBall {
  background-color: white;
  height: 2vh;
  width: 2vh;
  border: none;
  border-radius: 50%;
  transform: translateX(4vw);
  transition: all 0.2s ease-out;
}



/* DARK MODE SETTINGS */
.accountPanel_darkMode {
  background-color: rgba(0, 0, 0, 0.8);
}

.accountPanel_darkMode p {
  color: white;
}

.accountPanel_darkMode span {
  color: white;
}

.accountPanel_darkMode #bnLogin {
  color: black;
  background-color: white;
}

.accountPanel_darkMode #profileInfoCard {
  background-color: rgba(0, 0, 0, 0.6);
}

.accountPanel_darkMode #settingsPanel,
.accountPanel_darkMode #changeThemePanel,
.accountPanel_darkMode #changePassPanel {
  background-color: rgba(0, 0, 0, 0.6);
}



/* LIGHT MODE SETTINGS */
.accountPanel_lightMode {
  background-color: rgba(255, 255, 255, 0.7);
}

.accountPanel_lightMode p {
  color: black;
}

.accountPanel_lightMode span {
  color: black;
}

.accountPanel_lightMode #bnLogin {
  color: white;
  background-color: black;
}

.accountPanel_lightMode #profileInfoCard {
  background-color: rgba(255, 255, 255, 0.7);
}

.accountPanel_lightMode #settingsPanel,
.accountPanel_lightMode #changeThemePanel,
.accountPanel_lightMode #changePassPanel{
  background-color: rgba(255, 255, 255, 0.7);
}
