#contributionPanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: none;
}
#topBarCT {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 7vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
#bnBackCT {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  background: transparent;
  height: 100%;
  margin: 0;
  padding: 0;
  gap: 0;
  border: none;
}
#bnBackP {
  font-size: 1rem;
  margin: 0;
}
#bnBackCT span {
  font-size: 1rem;
  margin: 0;
}
#bnContribute {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 90%;
  width: 40%;
  margin-right: 2vw;
  border: none;
  border-radius: 0.5rem;
}
#contributionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  height: 93vh;
  width: 100%;
}
#contributionInputDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 900;
  background: transparent;
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  gap: 2vh;
  border: none;
}
#contributionInputDiv input {
  font-size: 1rem;
  background: transparent;
  height: 7vh;
  width: 90vw;
  margin: 0;
  padding: 0;
  padding-left: 2vw;
  border-radius: 0.5rem;
}
#contributionInputDiv input::placeholder {
  font-size: 1rem;
}
#buttonDivCT {
  display: flex;
  justify-content: space-evenly;
  background: transparent;
  height: 7vh;
  width: 95vw;
  margin: 0;
  padding: 0;
}
#buttonDivCT button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  height: 100%;
  width: 48%;
  border-radius: 0.5rem;
}
#messageDivCT {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  align-self: center;
  background: transparent;
  height: 40vh;
  width: 80vw;
  margin: auto;
  padding: 0;
  border-radius: 1rem;
}
#messageDivCTP1 {
  font-size: 1.3rem;
  font-weight: 900;
  margin-top: 5vh;
}
#messageDivCTP2 {
  font-size: 1rem;
  font-weight: 500;
  margin: 1vh;
}
#messageDivCT button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  height: 7vh;
  width: 90%;
  margin-top: 5vh;
  margin-bottom: 2vh;
  padding: 0;
  border: none;
  border-radius: 0.5rem;
}

#contributionHelpDiv {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  background: transparent;
  height: 100%;
  width: 95%;
}
#contributionHelpDiv::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
#contributionHelpDiv p {
  cursor: default;
}
#stepP {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 3vh;
  margin-bottom: 1vh;
}
img {
  align-self: center;
  height: 700px;
  width: 300px;
  margin: auto;
}




/* LIGHT MODE SETTINGS */
.contributionPanel_lightMode {
  background-color: white;
}
.contributionPanel_lightMode p {
  color: black;
}
.contributionPanel_lightMode .material-symbols-rounded {
  color: black;
}
.contributionPanel_lightMode #bnContribute {
  color: white;
  background-color: black;
}
.contributionPanel_lightMode #bnCancelCT {
  color: black;
  background-color: white;
  border: 1px solid black;
}
.contributionPanel_lightMode #bnAddCT {
  color: white;
  background-color: black;
  border: 1px solid black;
}
.contributionPanel_lightMode input {
  color: black;
  background: transparent;
  border: 1px solid black;
}
.contributionPanel_lightMode input::placeholder {
  color: rgba(0,0,0,0.75);
}
.contributionPanel_lightMode #messageDivCT {
  background-color: white;
  box-shadow: 0 0 10px black;
}
.contributionPanel_lightMode #messageDivCTP1 {
  color: black;
}
.contributionPanel_lightMode #messageDivCTP2 {
  color: black;
}
.contributionPanel_lightMode #messageDivCT button {
  color: white;
  background-color: black;
}




/* DARK MODE SETTINGS */
.contributionPanel_darkMode {
  background-color: black;
}
.contributionPanel_darkMode p {
  color: white;
}
.contributionPanel_darkMode .material-symbols-rounded {
  color: white;
}
.contributionPanel_darkMode #bnContribute {
  color: black;
  background-color: white;
}
.contributionPanel_darkMode #bnCancelCT {
  color: white;
  background-color: black;
  border: 1px solid white;
}
.contributionPanel_darkMode #bnAddCT {
  color: black;
  background-color: white;
  border: 1px solid white;
}
.contributionPanel_darkMode input {
  color: white;
  background: transparent;
  border: 1px solid white;
}
.contributionPanel_darkMode input::placeholder {
  color: rgba(255,255,255,0.75);
}
.contributionPanel_darkMode #messageDivCT {
  background-color: black;
  box-shadow: 0 0 10px white;
}
.contributionPanel_darkMode #messageDivCTP1 {
  color: white;
}
.contributionPanel_darkMode #messageDivCTP2 {
  color: white;
}
.contributionPanel_darkMode #messageDivCT button {
  color: black;
  background-color: white;
}