#homePanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  background: transparent;
  width: 90%;
  height: 90%;
  margin: 0;
  padding: 0;
  border: none;
}
#topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 100%;
}
#logoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  white-space: pre;
  color: rgba(255, 255, 255, 0.7);
  background: transparent;
  height: 100%;
  width: 60%;
  gap: 0;
  margin: 0;
  border: none;
}
#playerNameDiv {
  display: flex;
  font-size: 1.5rem;
  height: 65%;
  margin: 0;
}
#myNameDiv {
  display: flex;
  height: 35%;
}
#myNameDiv p {
  font: 0.2rem;
}
#myName {
  font: 1rem;
}
#recommendDiv {
  display: flex;
  margin: 0;
  height: 35%;
}