#home-panel .top-bar {
  height: 7%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#app.light-mode.blur-on #home-panel .top-bar {
  background-color: rgb(255, 255, 255, 0.2);
}
#app.dark-mode.blur-on #home-panel .top-bar {
  background-color: rgba(0, 0, 0, 0.2);
}
#app.light-mode #home-panel .top-bar {
  background-color: rgb(255, 255, 255);
}
#app.dark-mode #home-panel .top-bar {
  background-color: rgba(0, 0, 0);
}

.home-song-category-div {
  height: 80%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#app.light-mode .home-song-category-div button {
  color: black;
  background-color: rgba(0, 0, 0, 0.07);
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}
#app.dark-mode .home-song-category-div button {
  color: white;
  background-color: rgba(255, 255, 255, 0.07);
  border: 0.5px solid rgba(255, 255, 255, 0.2);
}
.home-song-category-div::-webkit-scrollbar {
  display: none;
}
.home-song-category-div button {
  cursor: pointer;
  height: 100%;
  padding: 0 10px;
  border: none;
  border-radius: 10px;
}

.home-tab-content-div {
  cursor: default;
  flex-grow: 1;
  width: 95%;
  box-sizing: border-box;
  padding: 0 0 200px 0;
  padding-top: 3vh;
  margin: 0;
  gap: 5vh;
  overflow-x: hidden;
  overflow-y: auto;
  border: none;
  display: flex;
  flex-direction: column;
  font-size: 3vmin;
  background: transparent;
}
.home-tab-content-div::-webkit-scrollbar,
.song-container-content::-webkit-scrollbar {
  display: none;
}

.song-container-div {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.song-container-header {
  cursor: default;
  width: 100%;
  margin: 0;
  font-size: 5vmin;
  font-weight: 900;
}

.song-container-content {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0;
  padding: 20px 0;
  gap: 1vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.song-container-content.rectangle-song-outer-container {
  height: 200px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.rectangle-song-container {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  gap: 10px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#app.light-mode.blur-on .suggested-song:active {
  background: rgba(255, 255, 255, 0.3);
}
#app.dark-mode.blur-on .suggested-song:active {
  background: rgb(0, 0, 0, 0.3);
}
#app.light-mode .suggested-song:active {
  background: rgb(200, 200, 200);
}
#app.dark-mode .suggested-song:active {
  background: rgb(50, 50, 50);
}

.suggested-song.square {
  cursor: pointer;
  flex-shrink: 0;
  width: 180px;
  height: 230px;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  gap: 0;
  border: none;
  display: flex;
  flex-direction: column;
  background: transparent;
}
.suggested-song-image.square {
  height: 180px;
  width: 180px;
  margin: 0;
  border-radius: 10px;
  background-size: cover;
}
.suggested-song-image.square i {
  font-size: 50px;
}
.suggested-song-info-outer-div.square {
  height: 50px;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 0;
}
.suggested-song-about-div.square {
  height: 100%;
  width: 85%;
  display: flex;
  box-sizing: border-box;
  padding: 10px 0 5px 5px;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
}
.suggested-song-name.square {
  font: 700 13px Arial;
}
.suggested-song-artist.square {
  font: 400 10px Arial;
}
.suggested-song-options-button.square {
  height: 100%;
  width: 15%;
  padding: 0;
  background: transparent;
  border: none;
}

.suggested-song.rectangle {
  flex-shrink: 0;
  height: 60px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  gap: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
}
.suggested-song-image.rectangle {
  flex-shrink: 0;
  height: 60px;
  width: 60px;
  margin: 0;
  background-size: cover;
}
.suggested-song-image.rectangle i {
  font-size: 25px;
}
.suggested-song-info-outer-div.rectangle {
  flex-grow: 1;
  height: 100%;
  min-width: 0;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 0;
}
.suggested-song-about-div.rectangle {
  height: 100%;
  width: 90%;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  padding: 10px 0 5px 0;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
}
.suggested-song-name.rectangle {
  font: 700 15px Arial;
}
.suggested-song-artist.rectangle {
  font: 400 13px Arial;
}
.suggested-song-options-button.rectangle {
  flex-shrink: 0;
  height: 100%;
  width: 10%;
  padding: 0;
  border: none;
  background: transparent;
}

.suggested-song-about-div p {
  width: 100%;
  margin: 0;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.suggested-song-options-button i {
  font-size: 25px;
}