#libraryPanel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  backdrop-filter: blur(10vmax);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: none;
}
#libraryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 10vh;
  width: 95%;
  min-height: 4rem;
  margin: 0;
  padding: 0;
  border: none;
}
#libraryHeader p {
  cursor: default;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
#bnAddPlaylist {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: transparent;
  height: 70%;
  width: 20%;
  max-width: 5rem;
  min-width: 5vh;
  border: none;
  border-radius: 1rem;
}
#bnAddPlaylist span {
  cursor: pointer;
  font-size: 1.5rem;
}
#bnAddPlaylist p {
  cursor: pointer;
  font-size: 1rem;
}

#addPlaylistPanel {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  margin: auto;
  padding: 1rem;
  gap: 2vh;
  border-radius: 1rem;
}

#addPlaylistForm {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

#addPlaylistPanel input {
  display: flex;
  height: 6vh;
  width: 69vw;
  font-size: 1rem;
  background: transparent;
  margin: 0;
  padding: 0;
  padding-left: 1vw;
  border-radius: 0.5rem;
}

#privacyToggle {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  height: 6vh;
  width: 70vw;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 2rem;
}

#privacyToggle p {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 100%;
  width: 50%;
  margin: 0;
  padding: 0;
}

#privacyToggleLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 6vh;
  border: none;
  border-radius: 2rem;
}

#addPlaylistBtnDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 6vh;
  width: 70vw;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0.5rem;
}

#addPlaylistBtnDiv button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 48%;
  margin: 0;
  padding: 0;
  border-radius: 0.5rem;
}

#playlistPanel,
#libraryContent {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 3vmin;
  height: 85%;
  width: 95%;
  padding: 0;
  gap: 0.5vh;
  border: none;
  border-radius: 1.5rem;
}
#libraryContent::-webkit-scrollbar {
  display: none;
}
#libraryContentText {
  justify-self: center;
  align-self: center;
  margin: auto;
}
#playlist {
  position: relative;
  z-index: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 100%;
  min-height: 4rem;
  margin: 0;
  border: none;
}
#playlistInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  gap: 2vw;
}
#playlistInfo p {
  text-align: center;
  white-space: pre;
  font-size: 3.5vmin;
  font-weight: 700;
}
#playlistPic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 6vh;
  width: 6vh;
  margin: 0;
  margin-left: 1.5vw;
  border: none;
  border-radius: 0.5rem;
}
#bnOptions {
  display: flex;
  background: transparent;
  width: 5%;
  border: none;
}
#bnOptions span {
  cursor: pointer;
  font-size: 1rem;
}
#optionPanel {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 0.5vh;
}

#playlistPanelHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  height: 10%;
  width: 95%;
  margin: 0;
  padding: 0;
  border: none;
}

#playlistPanelHeader button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background: transparent;
  height: fit-content;
  width: fit-content;
  border: none;
}

#playlistPanelContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  height: 90%;
  width: 95%;
  padding: 0;
  gap: 0.5vh;
  border: none;
  border-radius: 1.5rem;
}

#playlistInfoPanel {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
  height: 20vh;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 1rem;
}

#playlistInfoPanel img {
  height: 100%;
  width: 100%;
  margin: 0;
}

#playlistInfoPanel p {
  cursor: default;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  top: auto;
  right: auto;
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  height: 30%;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  padding-bottom: 0;
}

#playlistPanelSongDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

#playlistSong {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  height: 7vh;
  width: 100%;
  margin: 0;
  padding: 1%;
  border: none;
}

#playlistSongPic {
  background: red;
  height: 6vh;
  width: 6vh;
  margin: 0;
  padding: 0;
  border: none;
}


#optionPanel button {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  height: 5vh;
  width: 40%;
  border: none;
}
#bnCancel {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
#bnRenamePlaylist {
  color: rgba(255, 255, 255, 0.7);
}
#bnDelPlaylist {
  color: rgb(255, 0, 0);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
#confirmPanelOuter {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  gap: 0.5vh;
}
#confirmPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(0, 0, 0);
  height: 30%;
  width: 80%;
  min-width: 10rem;
  border: none;
  border-radius: 2rem;
}
#DelDisclaimerText {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  height: 70%;
}
#delConfirmButtonsDiv {
  display: flex;
  justify-content: space-around;
  align-items: right;
  height: 30%;
  width: 100%;
}
#delConfirmButtonsDiv button {
  height: 70%;
  border: none;
  border-radius: 1rem;
}
#bnCancelDel {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  width: 40%;
}
#bnConfirmDel {
  cursor: pointer;
  background-color: rgba(255, 47, 47, 0.7);
  color: white;
  width: 40%;
}
#libraryPanelSpace {
  height: 30vh;
  width: 100%;
  background: transparent;
  border: none;
  flex-shrink: 0;
}



/* DARK MODE SETTINGS */
.libraryPanel_darkMode {
  background-color: rgba(0, 0, 0, 0.8);
}
.libraryPanel_darkMode p {
  color: white;
}

.libraryPanel_darkMode span {
  color: white;
}

.libraryPanel_darkMode #bnAddPlaylist {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.libraryPanel_darkMode #bnAddPlaylist span {
  color: white;
}

.libraryPanel_darkMode #bnAddPlaylist p {
  color: white;
}

.libraryPanel_darkMode #playlistPanel,
.libraryPanel_darkMode #libraryContent {
  background-color: rgba(0, 0, 0, 0.5);
}

.libraryPanel_darkMode #playlist {
  background-color: rgba(0, 0, 0, 0.6);
}

.libraryPanel_darkMode #playlist span {
  color: white;
}

.libraryPanel_darkMode #optionPanel {
  background-color: rgb(0, 0, 0,0.2);
}

.libraryPanel_darkMode #optionPanel button {
  color: white;
  background-color: rgba(25, 25, 25);
}

.libraryPanel_darkMode #addPlaylistPanel {
  background-color: rgb(0, 0, 0);
}

.libraryPanel_darkMode #addPlaylistPanel input {
  color: white;
  border: 1px solid rgb(255, 255, 255);
}

.libraryPanel_darkMode #privacyToggle {
  background-color: rgba(255, 255, 255, 0.07);
}

.libraryPanel_darkMode #privacyToggleLayer {
  background-color: rgba(255, 255, 255, 0.2);
}

.libraryPanel_darkMode #bnCancelAddPlaylist {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.libraryPanel_darkMode #bnCancelAddPlaylist p {
  color: white;
}

.libraryPanel_darkMode #bnConfirmAddPlaylist {
  background: white;
  color: rgb(0, 0, 0);
  border: 1px solid white;
}

.libraryPanel_darkMode #bnConfirmAddPlaylist p {
  color: rgb(0, 0, 0);
}





/* LIGHT MODE SETTINGS */
.libraryPanel_lightMode {
  background-color: rgba(255, 255, 255, 0.75);
}
.libraryPanel_lightMode p {
  color: black;
}

.libraryPanel_lightMode span {
  color: black;
}

.libraryPanel_lightMode #bnAddPlaylist {
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
}

.libraryPanel_lightMode #bnAddPlaylist span {
  color: black;
}

.libraryPanel_lightMode #bnAddPlaylist p {
  color: black;
}

.libraryPanel_lightMode #playlistPanel,
.libraryPanel_lightMode #libraryContent {
  background-color: rgba(255, 255, 255, 0.6);
}

.libraryPanel_lightMode #playlist {
  background-color: rgba(220, 220, 220,0.3);
}

.libraryPanel_lightMode #playlist span {
  color: black;
}

.libraryPanel_lightMode #optionPanel {
  background-color: rgba(0, 0, 0, 0.2);
}

.libraryPanel_lightMode #optionPanel button {
  color: black;
  background-color: white;
}

.libraryPanel_lightMode #addPlaylistPanel {
  background-color: rgb(255, 255, 255);
}

.libraryPanel_lightMode #addPlaylistPanel input {
  color: black;
  border: 1px solid black;
}

.libraryPanel_lightMode #privacyToggle {
  color: black;
  background-color: rgba(0, 0, 0, 0.2);
}

.libraryPanel_lightMode #privacyToggleLayer {
  background-color: rgba(0, 0, 0, 0.2);
}

.libraryPanel_lightMode #addPlaylistPanel {
  background-color: rgb(255, 255, 255);
}

.libraryPanel_lightMode #addPlaylistPanel button {
  border: 1px solid black;
}

.libraryPanel_lightMode #bnCancelAddPlaylist p {
  color: black;
}

.libraryPanel_lightMode #bnConfirmAddPlaylist {
  background-color: rgb(0, 0, 0);
}

.libraryPanel_lightMode #bnConfirmAddPlaylist p {
  color: rgb(255, 255, 255);
}