#app.horizontal #player-panel {
  position: static;
  z-index: auto;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: 30%;
  display: flex !important;
  background: transparent;
  backdrop-filter: blur(50px);
}

.top-bar {
  height: 10%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

#app.horizontal #player-back-btn {
  display: none;
}

.info-btn {
  cursor: pointer;
  height: 100%;
  width: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.info-btn i {
  font-size: 2rem;
  margin: 0;
}

.song-info-div {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#app.light-mode .song-info-div {
  background: white;
}
#app.dark-mode .song-info-div {
  background: black;
}

.song-info-loader {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.song-info-loader i {
  font-size: 40px;
  animation: spin 1.1s linear infinite;
}

.content {
  position: relative;
  flex-grow: 1;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
}
.content::-webkit-scrollbar {
  display: none;
}

.song-info-section {
  height: fit-content;
  width: 95%;
  margin: 0 0 30px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
}

.song-info-section-header {
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 900;
}

.song-info-section.artist {
  gap: 2vh;
}

.artist-div {
  position: relative;
  height: 45vh;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 0;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
#app.light .artist-div {
  border: 1px solid black;
}
#app.dark-mode .artist-div {
  border: 1px solid white;
}

.artist-picture {
  width: 100%;
  height: fit-content;
  margin: 0;
}
.artist-div i {
  font-size: 200px;
}

.artist-div-info {
  position: absolute;
  z-index: 1;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  height: 30%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.artist-div-info .artist-name {
  height: 40%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 5px 10px;
  cursor: default;
  font-size: 2rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.75) !important;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8)
  );
}

.about-artist {
  cursor: default;
  height: 60%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  margin: 0;
  padding: 0 5px 30px 5px;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0)
  );
}
.about-artist::-webkit-scrollbar {
  display: none;
}

.song-info-section.contribution p {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.report-song-btn {
  cursor: pointer;
  flex-shrink: 0;
  height: 55px;
  width: 90%;
  margin: 10px 0;
  padding: 0;
  gap: 10px;
  border: 0.5px solid rgba(255, 0, 0);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  background: transparent;
}
.report-song-btn .ripple-span {
  background-color: rgba(255, 0, 0, 0.3);
}

.report-song-btn i,
.report-song-btn p {
  color: red !important;
}

.added-panel {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 60%;
  overflow: hidden;
  margin: auto;
  padding: 0 20px;
  border-radius: 20px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
}
#app.dark-mode .added-panel {
  background: rgb(50, 50, 50);
}
#app.light-mode .added-panel {
  border: 0.5px solid rgb(200, 200, 200);
  background: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(200, 200, 200);
}

.added-panel-header {
  font: 500 20px Arial;
}

.added-panel-btn {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  gap: 15px;
  border: none;
  display: flex;
  background: transparent;
  justify-content: flex-start;
  align-items: center;
}
.added-panel-btn p {
  font: 500 16px Arial;
}
.added-panel-btn i {
  font-size: 18px;
}

.added-panel-btn-div {
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: flex-end;
}
.added-panel-btn-div button {
  border: none;
  background: transparent;
}
.added-panel-btn-div button p {
  font: 500 16px Arial;
}

.report-panel {
  padding: 15px;
  border-radius: 15px;
  background-color: rgb(50, 50, 50);
  font-size: 1.5rem;
  font-weight: 900;
}
#app.light-mode .report-panel {
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgb(150, 150, 150);
}

.report-panel .added-panel-btn {
  cursor: pointer;
  height: 50px;
  margin: 0;
  padding: 0 15px;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
}

.report-song-input {
  margin: 0;
  height: 55px;
  max-height: 100px;
  width: 95%;
  max-width: 95%;
  min-width: 95%;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 500 18px Arial;
  background: transparent;
}
#app.light-mode .report-song-input {
  color: black;
}
#app.dark-mode .report-song-input {
  color: white;
}
.report-song-input::placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-size: 500 18px Arial;
}
#app.light-mode .report-song-input::placeholder {
  color: rgba(0, 0, 0, 0.75);
}
.report-song-input:focus {
  outline: none;
  border-width: 2px;
}

.album-art-div {
  height: 50%;
  width: 95%;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.album-art {
  height: 90vw;
  max-height: 100%;
  width: 90vw;
  max-width: 90%;
  margin: 0;
  border: none;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("");
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}
.album-art i {
  font-size: 10vh;
}

.lyrics-div {
  cursor: default;
  height: 100%;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  background: transparent;
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}
.lyrics-div::-webkit-scrollbar {
  display: none;
}

.lyrics {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
}

.secondary-controls-outer-div {
  flex-shrink: 0;
  height: 10%;
  width: 95%;
  margin: 0;
  gap: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: sans-serif;
}

.info-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font: sans-serif;
  background: transparent;
  height: 80%;
  width: 70%;
  margin: 0;
  gap: 0;
}

.track-name,
.artist-name {
  cursor: default;
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  font-weight: 900;
}
.artist-name {
  font-size: 1rem;
  font-weight: 300;
}

.secondary-controls-div {
  flex-shrink: 0;
  height: 100%;
  width: 30%;
  margin: 0;
  padding: 0;
  gap: 2%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.secondary-controls-btn {
  cursor: pointer;
  height: 6vh;
  max-height: 15vw;
  width: 6vh;
  max-width: 15vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 233, 233, 0.1);
  transition: all 0.4s ease-out;
}
#app.dark-mode .secondary-controls-btn {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
#app.light-mode .secondary-controls-btn {
  border: 1px solid rgba(0, 0, 0, 0.4);
}
#app.light-mode .secondary-controls-btn .ripple-span {
  background-color: rgba(0, 0, 0, 0.5);
}
#app.dark-mode .secondary-controls-btn .ripple-span {
  background-color: rgba(255, 255, 255, 0.5);
}
.secondary-controls-btn i {
  font-size: 20px;
}

#player-song-options {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-shrink: 0;
  height: fit-content;
  width: 60vw;
  overflow: hidden;
  margin: auto;
  gap: 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: rgb(61, 61, 61);
}
#app.light-mode.blur-on #player-song-options {
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.5);
}
#app.dark-mode.blur-on #player-song-options {
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.5);
}
#app.light-mode #player-song-options {
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.5);
}
#app.dark-mode #player-song-options {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgb(39, 39, 39);
}

#player-song-options button {
  cursor: pointer;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0 15px;
  gap: 10px;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
  white-space: pre;
  background: transparent;
  transition: all 0.4s ease-out;
}

#player-song-options button p {
  margin: 0;
  font: 500 18px Arial;
}
#player-song-options button i {
  font-size: 25px;
}

#toggleAPDiv {
  position: relative;
  flex-shrink: 0;
  width: 90%;
  box-sizing: border-box;
  margin: 10px;
  padding: 0;
  gap: 0;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.2);
  height: fit-content;
}

#toggleAPDiv button {
  cursor: pointer;
  height: 50px;
  width: 33.33%;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

#toggleAPDiv i {
  font-size: 30px;
}

#toggleLayerAP {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 33.33%;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.4s ease-in-out;
}

.primary-controls-outer-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 25%;
  width: 95%;
  margin: 0;
  padding: 0;
  gap: 0;
  flex-shrink: 0;
  border: none;
}

.primary-controls-div {
  height: 80%;
  width: 100%;
  gap: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.runtime-info-outer-div {
  height: 10%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.time-bar-slider {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}
.time-bar-slider:focus {
  outline: none;
}
.time-bar-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  border-radius: 1px;
}
.time-bar-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 8px;
  margin: -12px 0 0 0;
  border-radius: 4px;
  transition: all 0.3s ease;
}
#app.light-mode .time-bar-slider::-webkit-slider-runnable-track,
#app.light-mode .time-bar-slider::-webkit-slider-thumb {
  background: black;
}
#app.dark-mode .time-bar-slider::-webkit-slider-runnable-track,
#app.dark-mode .time-bar-slider::-webkit-slider-thumb {
  background: white;
}
.time-bar-slider::-webkit-slider-thumb:active {
  transform: scale(1.5);
}

.runtime-info-div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 20%;
  width: 100%;
  margin: 0;
}

.time {
  cursor: default;
  height: 100%;
  margin: 1vh;
  text-align: center;
  font: Arial;
  font-weight: 500;
}

.playback-controls-div {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: transparent;
}

.playback-control-btn {
  cursor: pointer;
  border: none;
  background: transparent;
  transition: all 0.2s ease-in-out;
}
.playback-control-btn i {
  font-size: 3.8rem;
}
.do-spin {
  animation: spin 1.1s linear infinite;
}
.playback-control-btn:nth-child(1):active {
  transform: translateX(-5%);
}

.playback-control-btn:nth-child(2):active {
  transform: scale(0.9);
}

.playback-control-btn:nth-child(3):active {
  transform: translateX(5%);
}