#playerPanel {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  backdrop-filter: blur(10vmax);
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.2));
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  gap: 0;
  border: none;
}
#playerPanel::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

#playerPanelTopBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  height: 5%;
  width: 95%;
  margin: 0;
  padding: 0;
}

#bnSongInfo {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  height: 5vh;
  width: 5vh;
  border: none;
}

#bnSongInfo span {
  font-size: 2rem;
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
}

#songInfoDiv {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}
#songInfoDiv p {
  cursor: default;
}

#songInfoDivTopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 5%;
  width: 95%;
  margin: 0;
  padding: 0;
}

#bnBackSongInfoDiv {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  height: 100%;
  width: 10%;
  gap: 0;
  border: none;
}

#bnBackSongInfoDiv p {
  font-size: 1rem;
  cursor: pointer;
  margin: 0;
}

#bnBackSongInfoDiv span {
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0;
}

#songInfoLoader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  height: 95%;
  width: 95%;
  margin: 0;
  padding: 0;
}

#songInfoLoadingIcon {
  font-size: 5rem;
  margin: 0;
  padding: 0;
  animation: spin;
  animation-duration: 1.0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#songInfoConDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  background: transparent;
  height: 95%;
  width: 95%;
  margin: 0;
  padding: 0;
}
#songInfoConDiv::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

#songInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  height: fit-content;
  width: 95%;
  margin: 0;
  padding: 0;
}

#songInfoHeader {
  font-size: 1.5rem;
  font-weight: 900;
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 0;
}

#songInfoArtists {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  height: fit-content;
  width: 95%;
  margin: 0;
  margin-top: 3vh;
  padding: 0;
  gap: 2vh;
}
#songInfoArtistsHeader {
  font-size: 1.5rem;
  font-weight: 900;
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 0;
}
#artistDiv {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  height: 45vh;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 0;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}

#artistPicture {
  height: 100%;
  width: 100%;
  margin: 0;
}

#artistInfoDiv {
  position: absolute;
  z-index: 1;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  height: 30%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#artistInfoDiv p {
  cursor: default;
  font-size: 2rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.75);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0,0.8));
  height: 40%;
  width: 96%;
  margin: 0;
  padding: 0;
  padding-left: 2%;
  padding-right: 2%;
}

#aboutArtistP {
  cursor: default;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0,0.8),rgba(0, 0, 0));
  height: 60%;
  width: 96%;
  margin: 0;
  padding: 0;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}
#aboutArtistP::-webkit-scrollbar {
  display: none;
}

#songContributionInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: transparent;
  height: fit-content;
  width: 95%;
  margin: 0;
  margin-top: 5vh;
  padding: 0;
}

#songContributionInfoDiv p {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

#bnReportSongInfo {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  background: transparent;
  height: 7vh;
  width: 90%;
  margin: 0;
  margin-top: 3vh;
  padding: 0;
  gap: 2vw;
  border: 0.5px solid rgba(255, 0, 0, 0.3);
  border-radius: 2rem;
}

#songInfoDivSpace {
  background: transparent;
  min-height: 15vh;
  width: 100%;
}

#reportSongInfoPanel {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-self: center;
  align-items: center;
  background-color: rgb(27, 27, 27);
  font-size: 1.5rem;
  font-weight: 900;
  height: fit-content;
  width: 80vw;
  margin: auto;
  padding: 1rem;
  gap: 1.5vh;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
}

#reportSongInfoTitleP {
  cursor: default;
  color: rgba(255, 255, 255, 0.75);
  margin: 1rem;
}

#reportSongInfoInput {
  margin: 0;
  height: 6vh;
  width: 90%;
  color: white;
  font-size: 1rem;
  background: transparent;
  margin: 0;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
}

#reportSongInfoInput::placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1rem;
}

#reportSongInfoInput:focus {
  outline: none;
  border-width: 2px;
}

#bnReportSongInfoSubmit,
#bnReportSongInfoCancel {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  height: 6vh;
  width: 90%;
  margin: 0;
  padding: 0;
  gap: 2vw;
  border-radius: 0.5rem;
}

#bnReportSongInfoSubmit {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border: 0.5px solid rgb(255, 255, 255);
}

#bnReportSongInfoCancel {
  color: white;
  background: transparent;
  border: 0.5px solid rgb(255, 255, 255);
}

#pictureDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  height: 50%;
  width: 95%;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

#albumArt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("");
  background-size: cover;
  height: 100vw;
  max-height: 50vh;
  width: 100vw;
  max-width: 50vh;
  margin: 0;
  border: none;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
#albumArt span {
  font-variation-settings:
  'FILL' 1;
  font-size: 10vh;
  color: rgba(0,0,0,0.5);
}


#lyricsDiv {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  background: transparent;
  height: 100%;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}

#lyricsDiv::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
#lyrics {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
}
#secondaryDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font: sans-serif;
  color: rgba(255, 255, 255, 0.7);
  background: transparent;
  height: 10vh;
  width: 95vw;
  margin: 0;
  gap: 0;
  flex-shrink: 0;
}
#infoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font: sans-serif;
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  height: 80%;
  width: 70%;
  margin: 0;
  gap: 0;
}

#trackName {
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.7);
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 0;
}
#artistName {
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 0;
}
#secondaryControls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  height: 100%;
  width: 30%;
  margin: 0;
  padding: 0;
  gap: 2%;
  flex-shrink: 0;
  border: none;
}
#secondaryControls button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 233, 233, 0.1);
  height: 6vh;
  max-height: 15vw;
  width: 6vh;
  max-width: 15vw;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transition: all 0.4s ease-out;
}

#secondaryControls button:active {
  background-color: rgba(255, 255, 255, 0.3);
}

#moreDiv {
  position: absolute;
  z-index: 2;
  left: auto;
  right: 2.5%;
  top: auto;
  bottom: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.2);
  height: fit-content;
  width: 35vw;
  padding: 1vw;
  gap: 0;
  flex-shrink: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
}
#moreDiv button {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 3.5vmin;
  font-weight: 700;
  text-align: right;
  white-space: pre;
  color: rgba(255, 255, 255, 0.7);
  background: transparent;
  height: 20%;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 10%;
  border: none;
  transition: all 0.4s ease-out;
}

#toggleAPDiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.1);
  height: fit-content;
  width: 100%;
  height: 5vh;
  padding: 0;
  gap: 0;
  flex-shrink: 0;
  border: none;
  border-radius: 0.5rem;
}
#toggleAPDiv button {
  cursor: pointer;
  display: flex;
  color: rgba(255, 255, 255, 0.7);
  background: transparent;
  width: 33.33%;
  height: 100%;
  padding: 0;
  border: none;
  border-radius: 1.5rem;
}
#toggleAPDiv span {
  justify-self: center;
  align-self: center;
  margin: auto;
}
#toggleLayerAP {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
  width: 33.33%;
  height: 100%;
  border: none;
  transition: all 0.4s ease-in-out;
  border-radius: 0.5rem;
}

#controlDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 25%;
  width: 95%;
  margin: 0;
  padding: 0;
  gap: 0;
  flex-shrink: 0;
  border: none;
}

#primaryControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  gap: 0;
}

#runBarInfo {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 10%;
  width: 100%;
  margin: 0;
}
#timeSlider {
  cursor: pointer;
  display: flex;
  accent-color: white;
  width: 100%;
}
#runtimeInfo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 20%;
  width: 100%;
  margin: 0;
}

#time1,
#time2 {
  cursor: default;
  text-align: center;
  font: Arial;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  height: 100%;
  margin: 1vh;
}

#playbackControls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: transparent;
  height: 70%;
  width: 100%;
}

#bnPrev,
#bnPlay,
#bnNext {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, Monospace;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.7);
  background: transparent;
  height: fit-content;
  width: fit-content;
  border: none;
  transition: all 0.2s ease-in-out;
}
#playbackControls span {
  font-variation-settings:
  'FILL' 1;
  font-size: 4rem;
}

#loadingIcon {
  animation: spin;
  animation-duration: 1.0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#bnPrev:active {
  transform: translateX(-5%);
}

#bnPlay:active {
  transform: scale(0.9);
}

#bnNext:active {
  transform: translateX(5%);
}