#body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Inter;
  background-image: none;
  background: transparent;
  background-size: contain;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
#body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

#loadingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  gap: 1vw;
}

.bar {
  justify-self: center;
  align-self: center;
  height: 10%;
  width: 5%;
  border-radius: 1rem;
  animation: shrink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.bar:nth-child(2) {
  animation-delay: 0.2s;
}
.bar:nth-child(3) {
  animation-delay: 0.4s;
}
.bar:nth-child(4) {
  animation-delay: 0.6s;
}
.bar:nth-child(5) {
  animation-delay: 0.8s;
}
.bar:nth-child(6) {
  animation-delay: 1.0s;
}
.bar:nth-child(7) {
  animation-delay: 0.8s;
}
#main {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  background-image: none;
  background-size: contain;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: all 1.0s ease-in-out;
}

#bottomDiv {
  position: absolute;
  top: auto;
  right: 0;
  left: 0;
  bottom: 1rem;
  z-index: 1;
  overflow-y: hidden;
  justify-self: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  backdrop-filter: blur(5vmax);
  height: 10vh;
  max-height: 25vw;
  width: 95%;
  padding: 0;
  border-radius: 2rem;
}
#miniPlayer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  width: 90%;
  margin: 0;
  padding: 0;
  border: none;
}
#miniInfoDiv{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 70%;
  margin: 0;
  padding: 0;
  padding-left: 1vw;
  gap: 1vw;
  border: none;
}
#miniAlbumArt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("");
  background-size: cover;
  width: 4.5vh;
  max-height: 12vw;
  height: 4.5vh;
  max-width: 12vw;
  border: none;
  border-radius: 1vh;
}
#miniAlbumArt span {
  font-size: 4vmin;
}

#miniTrackInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: transparent;
  height: 100%;
  width: 80%;
  margin: 0;
  gap: 0;
  border: none;
}
#miniTrackName {
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 3.5vmin;
  font-weight: 700;
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 0;
}
#miniArtistName {
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 2.5vmin;
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 0;
}
#miniPlaybackControlsDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 30%;
}
#miniPlaybackControlsDiv button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  height: 100%;
  width: 30%;
  border: none;
}

#miniPlaybackControlsDiv span {
  font-variation-settings:
  'FILL' 1;
  font-size: 2rem;
}


#miniLoadingIcon {
  animation: spin;
  animation-duration: 1.0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#switchDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  height: 50%;
  width: 100%;
  padding: 0;
  border: none;
}

#switchDiv button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  height: 100%;
  width: 25%;
  margin: 0;
  padding: 0;
  gap: 0;
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

#switchDiv span {
  font-size: 2rem;
  margin: 0;
}
#activeButton span {
  font-variation-settings:
  'FILL' 1;
  font-size: 2rem;
  margin: 0;
}
.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
}




/* LIGHT MODE SETTINGS */
.loadingDiv_lightMode {
  background-color: white;
}
.loadingDiv_lightMode .bar {
  background-color: black;
}
.bottomDiv_lightMode {
  background-color: rgba(255, 255, 255, 0.65);
  border: 0.1px solid rgba(0, 0, 0, 0.1);
}
.bottomDiv_lightMode p {
  color: black;
}
.bottomDiv_lightMode span {
  color: black;
}
.bottomDiv_lightMode #switchDiv span {
  color: rgba(0,0,0,0.75);
}
.bottomDiv_lightMode #activeButton span {
  color: rgba(0,0,0);
}




/* DARK MODE SETTINGS */
.loadingDiv_darkMode {
  background-color: black;
}
.loadingDiv_darkMode .bar {
  background-color: white;
}
.bottomDiv_darkMode {
  background-color: rgba(0, 0, 0, 0.7);
  border: 0.1px solid rgba(255, 255, 255, 0.1);
}
.bottomDiv_darkMode p {
  color: white;
}
.bottomDiv_darkMode span {
  color: white;
}
.bottomDiv_darkMode #switchDiv span {
  color: rgba(255,255,255,0.5);
}
.bottomDiv_darkMode #activeButton span {
  color: rgba(255,255,255);
}