#login-panel .top-bar {
  height: 7%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0 10px;
  display: flex;
}

.back-btn {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  background: transparent;
}
.back-btn i {
  font-size: 30px;
}

.register-form-container {
  height: 80%;
  width: 90%;
  background: transparent;
  transition: transform 0.5s ease-in-out;
}
.register-form {
  height: 100%;
  width: 100%;
  gap: 2lvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: all 0.5s ease-in-out;
}

.register-form-header {
  cursor: default;
  margin: 2.5lvh;
  font-size: 35px;
  font-weight: 900;
  background: transparent;
}

.register-form-input-div {
  height: 50px;
  width: 100%;
  max-width: 500px;
  border: none;
  display: flex;
  background: transparent;
}
.register-form-input-div i {
  width: 10%;
  margin: auto;
  font-size: 20px;
  text-align: center;
  background: transparent;
}

.register-form-input {
  height: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  padding-left: 1rem;
  border: none;
  display: flex;
  font-size: 18px;
  background: transparent;
}
.register-form-input::placeholder {
  font-size: 18px;
}
.register-form-input:focus {
  outline: none;
}

.ph-eye,
.ph-eye-slash {
  cursor: pointer;
  font-size: 25px;
  text-align: left;
}

.register-btn {
  position: relative;
  height: 55px;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}
.register-btn p {
  font-size: 18px;
}

.register-btn-loader {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}
.register-btn-loader i {
  font-size: 18px;
  animation: spin 1.5s linear infinite;
}

.login-panel-bottom-container {
  height: 15%;
  width: 90%;
  box-sizing: border-radius;
  margin: 0;
  padding: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.login-panel-bottom-container p {
  cursor: default;
  margin: 0.5lvh;
}

/* LIGHT MODE SETTINGS */
#app.light-mode {
  background-color: rgb(250, 250, 250);
}
#app.light-mode p {
  color: black;
}
#app.light-mode i {
  color: black;
}
#app.light-mode .register-form-input-div {
  border-bottom: 2px solid black;
}
#app.light-mode input {
  color: black;
}
#app.light-mode input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#app.light-mode .register-btn {
  background-color: black;
}

#app.light-mode .register-btn p {
  color: white;
}

#app.light-mode .register-btn-loader {
  background-color: rgb(0, 0, 0);
}

#app.light-mode .register-btn-loader i {
  color: white;
}

/* DARK MODE SETTINGS */
#app.dark-mode {
  background-color: black;
}
#app.dark-mode p {
  color: white;
}
#app.dark-mode i {
  color: white;
}
#app.dark-mode .register-form-input-div {
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
}
#app.dark-mode input {
  color: rgba(255, 255, 255, 0.9);
}
#app.dark-mode input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#app.dark-mode .register-btn p {
  color: black;
}

#app.dark-mode .register-btn-loader {
  background-color: rgba(240, 240, 240);
}
#app.dark-mode .register-btn-loader i {
  color: black;
}
