.search-bar {
  flex-shrink: 0;
  height: 8%;
  width: 95%;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 0;
  gap: 10px;
  display: flex;
  justify-content: center;
}

.search-box {
  flex-grow: 1;
  height: 55px;
  box-sizing: border-box;
  margin: 0;
  padding: 0 20px;
  border: none;
  border-radius: 25px;
  font-size: 17px;
}
#app.light-mode .search-box {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}
#app.dark-mode .search-box {
  background-color: rgb(51, 51, 51);
  color: white;
}
#app.dark-mode.blur-on .search-box {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.search-box::placeholder {
  font-size: 17px;
}
#app.light-mode .search-box::placeholder {
  color: black;
}
#app.dark-mode .search-box::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.search-box:focus {
  outline: none;
}

.search-btn {
  cursor: pointer;
  height: 55px;
  width: 55px;
  margin: 0;
  padding: 0;
  gap: 5%;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app.light-mode .search-btn {
  background-color: rgb(255, 255, 255);
}
#app.dark-mode .search-btn {
  background-color: rgb(50, 50, 50);
}
#app.dark-mode.blur-on .search-btn {
  background-color: rgba(0, 0, 0, 0.5);
}
.search-btn i {
  font-size: 23px;
}

.search-history-title {
  font: 900 23px Arial;
  margin: 10px auto 10px 15px;
}

.search-content-div {
  flex-shrink: 0;
  height: 51%;
  min-height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
}

.search-history-text-list {
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 3vmin;
  height: 85%;
  width: 95%;
  margin: 0;
  padding: 0;
  gap: 2px;
  border: none;
  border-radius: 1.5rem;
}
.search-history-text-list::-webkit-scrollbar {
  display: none;
}
#app.light-mode .search-history-text-list {
  background-color: rgb(255, 255, 255, 0.7);
}
#app.dark-mode .search-history-text-list {
  background-color: rgba(30, 30, 30);
}
#app.dark-mode.blur-on .search-history-text-list {
  background-color: rgba(0, 0, 0, 0.5);
}

.search-text-btn {
  cursor: pointer;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0 15px;
  flex-shrink: 0;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#app.dark-mode .search-text-btn {
  background-color: rgb(50, 50, 50);
}
#app.dark-mode.blur-on .search-text-btn {
  background-color: rgba(0, 0, 0, 0.4);
}
.search-text-btn p {
  font-size: 15px;
}

.search-history-song-list {
  cursor: default;
  height: 85%;
  width: 95%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  gap: 10px;
  border: none;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  font-size: 3vmin;
}
.search-history-song-list::-webkit-scrollbar {
  display: none;
}
#app.light-mode .search-history-song-list {
  background-color: rgb(255, 255, 255, 0.7);
}
#app.dark-mode.blur-on .search-history-song-list {
  background-color: rgba(0, 0, 0, 0.5);
}
#app.dark-mode .search-history-song-list {
  background-color: rgba(30, 30, 30);
}

.div-text {
  margin: auto;
}
