#contribution-panel .top-bar {
  height: 7%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.contribute-btn {
  cursor: pointer;
  height: 50px;
  box-sizing: border-box;
  padding: 0 20px;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

#contribution-panel .content {
  height: 93%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

.contribution-form-div {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contribution-form {
  height: 90%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 100px 0;
  gap: 2vh;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
}
.contribution-form::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
.contribution-form::-webkit-scrollbar-thumb {
  background-color: rgb(60,60,60);
}

.contribution-form-input-div {
  flex-shrink: 0;
  height: 55px;
  width: 90vw;
  max-width: 500px;
  box-sizing: border-box;
  padding: 0;
  border: none;
  border-radius: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contribution-form-input-div i {
  width: 10%;
  text-align: center;
  font-size: 20px;
}

.artist-input-div {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.artist.contribute-btn {
  width: 100%;
  display: none;
}

.contribution-form-input {
  height: 100%;
  width: 90%;
  border: none;
  font-size: 18px;
  background: transparent;
}
.contribution-form-input::placeholder {
  font-size: 18px;
}
.contribution-form-input:focus {
  outline: none;
}


.button-div-input-div {
  height: 10%;
  width: 95vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background: transparent;
}
.button-div-input-div button {
  width: 85vw;
  margin: auto 0 20px 0;
  border-radius: 25px;
}

.message-div {
  position: absolute;
  z-index: 1;
  top: auto;
  bottom: 5px;
  left: 0;
  right: 0;
  width: 95%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  border-radius: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(15vmax);
}
.message-text:nth-child(1) {
  font-size: 1.3rem;
  font-weight: 900;
  margin-top: 0 0 5px 0;
}
.message-text:nth-child(2) {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 40px 0;
}
.message-div button {
  width: 100%;
  border-radius: 25px;
}

.contribution-help-content-div {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px 200px 10px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  background: transparent;
}
.contribution-help-content-div::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
.contribution-help-content-div::-webkit-scrollbar-thumb {
  background-color: rgb(50,50,50);
}

.contribution-help-content-div p {
  cursor: default;
}
.steps-text {
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0 10px 0;
}
img {
  height: 700px;
  width: 300px;
  margin: auto;
  align-self: center;
}

/* LIGHT MODE SETTINGS */
#app.light-mode .contribute-btn {
  color: white;
  background-color: black;
}
#app.light-mode .contribute-btn i,
#app.light-mode .contribute-btn p {
  color: white;
}
#app.light-mode .contribution-form-input-div {
  border-bottom: 2px solid black;
}
#app.light-mode .contribution-form-input {
  color: black;
}
#app.light-mode .contribution-form-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
#app.light-mode .message-div {
  background-color: rgba(220,220,220);
}


/* DARK MODE SETTINGS */

#app.dark-mode .contribute-btn {
  background-color: rgba(240, 240, 240);
}
#app.dark-mode .contribute-btn p,
#app.dark-mode .contribute-btn i {
  color: black;
}
#app.dark-mode .contribution-form-input-div {
  border-bottom: 2px solid rgba(255, 255,255,0.9);
}
#app.dark-mode .contribution-form-input {
  color: white;
}
#app.dark-mode .contribution-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
#app.dark-mode .message-div {
  background-color: rgba(70,70,70);
}