#library-panel .top-bar {
  height: fit-content;
  min-height: 4rem;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.library-title {
  cursor: default;
  margin: 0;
  padding: 0;
  font: 700 2rem "Segoe UI";
}

.add-playlist-btn {
  cursor: pointer;
  height: 80%;
  width: 40%;
  max-width: 6rem;
  min-width: 5vh;
  border: 0.5px solid;
  border-radius: 0.8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: transparent;
}
#app.light-mode .add-playlist-btn {
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  border: 0.5px solid rgba(0, 0, 0, 0.3);
}
#app.dark-mode .add-playlist-btn {
  background-color: rgb(50, 50, 50);
  border-color: rgb(50, 50, 50);
}
#app.dark-mode.blur-on .add-playlist-btn {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0.5px solid rgba(255, 255, 255, 0.3);
}

.add-playlist-btn p {
  cursor: pointer;
  text-align: center;
  font: 500 1rem sans-serif;
}

/* ADD PLAYLIST FORM WINDOW */
.add-playlist-panel {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 80%;
  box-sizing: border-box;
  margin: auto;
  padding: 15px;
  gap: 2vh;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}
#app.light-mode .add-playlist-panel {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(120, 120, 120);
}
#app.dark-mode .add-playlist-panel {
  background-color: rgb(60, 60, 60);
}

.add-playlist-form {
  height: 100%;
  width: 100%;
  gap: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playlist-form-input-div {
  height: 50px;
  width: 95%;
  display: flex;
  align-items: center;
}
#app.dark-mode .playlist-form-input-div {
  border-bottom: 2px solid rgb(240, 240, 240);
}
#app.light-mode .playlist-form-input-div {
  border-bottom: 2px solid black;
}

.playlist-form-input-div i {
  width: 10%;
  font-size: 20px;
  text-align: center;
}

.add-playlist-panel input {
  height: 100%;
  width: 90%;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 0 15px;
  border: none;
  display: flex;
  font-size: 18px;
  background: transparent;
}
#app.dark-mode .playlist-form-input {
  color: white;
}
#app.light-mode .playlist-form-input {
  color: black;
}
.add-playlist-panel input::placeholder {
  font-size: 18px;
}
.add-playlist-panel input:focus {
  outline: none;
}

.playlist-form-btn-div {
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.playlist-form-btn {
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 150px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
#app.light-mode .playlist-form-btn {
  background: black;
}
#app.dark-mode .playlist-form-btn {
  background: white;
}

.playlist-form-btn p {
  font: 500 17px Arial;
}
#app.dark-mode .playlist-form-btn p {
  color: black;
}
#app.light-mode .playlist-form-btn p {
  color: rgb(250, 250, 250);
}


#app.light-mode .playlist-form-btn.cancel {
  background: transparent;
}
#app.dark-mode .playlist-form-btn.cancel {
  background: transparent;
}

#app.light-mode .playlist-form-btn.cancel p {
  color: black;
}
#app.dark-mode .playlist-form-btn.cancel p {
  color: white;
}

.playlist-btn-loader {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}
#app.light-mode .playlist-btn-loader {
  background-color: black;
}
#app.dark-mode .playlist-btn-loader {
  background-color: rgb(255, 255, 255);
}

.playlist-btn-loader i {
  font-size: 18px;
  animation: spin 1.5s linear infinite;
}
#app.light-mode .playlist-btn-loader i {
  color: white;
}
#app.dark-mode .playlist-btn-loader i {
  color: black;
}

/* AREA FOR PLAYLISTS */
.playlist-panel,
#library-panel .content {
  position: relative;
  flex-shrink: 0;
  flex-grow: 1;
  height: 90%;
  width: 100%;
  padding: 0;
  gap: 3px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 3vmin;
}
#app.light-mode .playlist-panel,
#app.light-mode #library-panel .content {
  background-color: rgba(255, 255, 255, 0.6);
}
#app.dark-mode .playlist-panel,
#app.dark-mode #library-panel .content {
  background-color: rgba(30, 30, 30);
}
#app.dark-mode.blur-on .playlist-panel,
#app.dark-mode.blur-on #library-panel .content {
  background-color: rgba(0, 0, 0, 0.5);
}
.playlist-panel::-webkit-scrollbar,
#library-panel .content::-webkit-scrollbar {
  display: none;
}

#library-panel .content .text {
  margin: auto;
}

/* PLAYLIST BUTTONS */
.playlist-btn {
  position: relative;
  cursor: pointer;
  height: 10%;
  width: 100%;
  min-height: 4rem;
  margin: 0;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.playlist-btn-info-div {
  width: 90%;
  gap: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.playlist-btn-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 6vh;
  width: 6vh;
  margin: 0 0 0 10px;
  border: none;
  border-radius: 3px;
}

.playlist-btn-about-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.playlist-btn-about-div p {
  height: fit-content;
  margin: 0;
  padding: 0;
}

.playlist-btn-about-div .playlist-btn-name {
  height: fit-content;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.playlist-btn-about-div .playlist-btn-about {
  height: fit-content;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}
#app.light-mode .playlist-btn-about {
  color: rgba(0, 0, 0, 0.7);
}
#app.dark-mode .playlist-btn-about {
  color: rgba(255, 255, 255, 0.7);
}

.playlist-options-btn {
  cursor: pointer;
  height: 7vh;
  width: 7vh;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: all 0.2s ease-out;
}
.playlist-options-btn:active {
  background-color: rgba(255, 255, 255, 0.1);
}
.playlist-options-btn i {
  font-size: 25px;
}

/* PLAYLIST WINDOW */
.playlist-panel-header {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  height: 8%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
}

.playlist-panel-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  height: 90%;
  width: 95%;
  padding: 0;
  margin-top: 0;
  gap: 0.5vh;
  border: none;
}
.playlist-panel-content::-webkit-scrollbar {
  display: none;
}

.playlist-info-panel {
  position: relative;
  height: 20vh;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  border: none;
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.playlist-panel-image {
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.playlist-panel-title {
  cursor: default;
  position: absolute;
  z-index: 1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
  margin: 0;
  padding: 0 0 10px 10px;
  font-size: 2rem;
  font-weight: 700;
  background-size: cover;
}

.playlist-panel-song-div {
  flex-shrink: 0;
  min-height: 80vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 100px 0;
  gap: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
}
.playlist-panel-song-div::-webkit-scrollbar {
  display: none;
}


/* OPTIONS FOR PLALYLISTS/SONGS */
.option-panel {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 50%;
  overflow: hidden;
  box-sizing: border-box;
  margin: auto;
  padding: 15px;
  gap: 0.5vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#app.light-mode .option-panel {
  background: rgb(240, 240, 240);
}
#app.dark-mode .option-panel {
  background: rgb(60, 60, 60);
}

.option-panel-btn {
  cursor: pointer;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  gap: 10px;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  background: transparent;
}
.option-panel-btn i {
  font-size: 20px;
}
.option-panel-btn p {
  font-size: 18px;
  margin: 0;
}
.option-panel-btn.cancel {
  height: 20px;
  justify-content: flex-end;
}

.confirmation-panel {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  width: 60vw;
  overflow: hidden;
  border: none;
  border-radius: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app.light-mode.blur-on .confirmation-panel {
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.3);
}
#app.dark-mode.blur-on .confirmation-panel {
  backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.3);
}
#app.light-mode .confirmation-panel {
  background-color: white;
  box-shadow: 0 0 5px rgb(120, 120, 120);
}
#app.dark-mode .confirmation-panel {
  background-color: black;
}

.confirmation-panel-header {
  width: 100%;
  padding: 10px 0;
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 0.5px solid rgb(150, 150, 150);
}

.confirmation-panel-content {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 15px 5px;
  text-align: center;
  border-bottom: 0.5px solid rgb(100, 100, 100);
  font-size: 17px;
  font-weight: 500;
  color: white;
}

.confirmation-panel-btn {
  cursor: pointer;
  height: 50px;
  width: 100%;
  border: none;
  border-bottom: 0.5px solid rgb(150, 150, 150);
  color: black;
  background-color: transparent;
}
.confirmation-panel-btn p {
  font-size: 17px;
  font-weight: 700;
}
.confirmation-panel-btn p {
  color: red !important;
}
.confirmation-panel-btn.cancel {
  border: none;
}
#app.light-mode .confirmation-panel-btn.cancel p {
  color: black !important;
}
#app.dark-mode .confirmation-panel-btn.cancel p {
  color: white !important;
}