@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*#region MARK: variables */
:root {
  --primary-header-font: 800 25px "Nunito";
  --secondary-header-font: 700 21px "Nunito";
  --tertiary-header-font: 700 18px "Nunito";

  --primary-text-font: 500 18px "Nunito";
  --secondary-text-font: 400 15px "Nunito";
  --tertiary-text-font: 400 12px "Nunito";
  
  --small-icon: 20px;
  --medium-icon: 25px;
  --large-icon: 35px;

  --blur-intensity: 50px;
  --background-transparency: 0.3;
}

[data-theme="light"] {
  --absolute-bg: #ffffff;
  --primary-bg: #dddddd;
  --secondary-bg: #ffffff;
  --tertiary-bg: #cfcfcf;
  
  --overlay-color: #00000050;
  
  --absolute-text-color: #000000;
  --primary-text-color: #000000;
  --secondary-text-color: #303030;
  
  --border-color: #505050;
}

[data-theme="light"][data-blur="true"] .blur {
  --primary-bg: rgba(230, 230, 230, calc(1 - var(--background-transparency)));
  --secondary-bg: rgba(255, 255, 255, calc(1 - var(--background-transparency)));
  backdrop-filter: blur(var(--blur-intensity));
}

[data-theme="dark"] {
  --absolute-bg: #000000;
  --primary-bg: #000000;
  --secondary-bg: #161616;
  --tertiary-bg: #505050;

  --overlay-color: #00000050;
  
  --absolute-text-color: #ffffff;
  --primary-text-color: #ffffff;
  --secondary-text-color: #c5c5c5;
  
  --border-color: #b8b8b8;
}

[data-theme="dark"][data-blur="true"] {
  --primary-bg: rgba(0, 0, 0, calc(1 - var(--background-transparency)));
  --secondary-bg: rgba(30, 30, 30, calc(1 - var(--background-transparency)));
  backdrop-filter: blur(var(--blur-intensity));
}

/*#endregion variables */

* {
  padding: 0; margin: 0;
  box-sizing: border-box;
  user-select: none; -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  color: var(--primary-text-color);
  transition: background 0.5s ease, color 0.5s ease, background-color 0.5s ease;
  &::-webkit-scrollbar { display: none; }
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--primary-bg);
}

#app {
  position: relative;
  
  height: 100dvh;
  width: 100dvw;
  
  padding: env(safe-area-inset-top) 0 0 0;

  display: flex;
  background-color: var(--primary-bg);
}

.panel-container {
  flex-grow: 1;
  height: 100%;
  display: flex;
  background-color: var(--primary-bg);
}

.app-panel {
  position: relative;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.panel-bar {
  position: absolute;
  z-index: 10;
  top: 0; left: 0;

  height: fit-content;
  width: 100%;
  
  padding: 5px 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-name-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.panel-name {
  font: var(--primary-header-font);
}

.content-div {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;

  padding-top: 60px;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/*#region MARK: global styling */

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple-span {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
  pointer-events: none;
}

.div-text {
  margin: auto;
  font: var(--secondary-text-font);
}

.top-bar {
  position: sticky;
  z-index: 1;
  top: 0;
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background: transparent;
}

.top-bar.flow {
  position: static;
  z-index: auto;
}

.toggle-btn {
  --size: 45px;
  cursor: pointer;
  
  height: var(--size);
  width: var(--size);
  
  border: none;
  border-radius: 50%;
  
  display: grid;
  place-items: center;
  
  background: var(--secondary-bg);
  
  >i { font-size: var(--medium-icon); }
}

.content {
  position: relative;
  flex: 1;
  min-height: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
}

.overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100dvh;
  min-width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--overlay-color);
}

/*#endregion global styling */
