[data-orientation="horizontal"] #settings-btn {
  display: none;
}

.login-btn {
  cursor: pointer;
  height: 60px;
  margin: 50px 0;
  padding: 0 30px;
  border: none;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-bg);
}

.login-btn p {
  font: var(--secondary-header-font);
}

/*#region user details */
.account-info-div {
  width: 100%;
  padding: 15px 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-picture {
  cursor: default;
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0.5px solid var(--border-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.profile-picture i {
  font-size: 50px;
}

.profile-info-card {
  width: 100%;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-name {
  cursor: default;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: var(--primary-header-font);
}

.stats-div {
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 5px;
  display: flex;
  justify-content: center;
}

.stats-div button {
  cursor: pointer;
  gap: 1vw;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
}
.stats-div button p {
  margin: 5px 0;
  font: var(--secondary-text-font);
}
/*#endregion user details */

.settings-tab-panel {
  flex-grow: 1;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 200px 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.settings-tab-panel::-webkit-scrollbar,
.settings-tab-inner-panel::-webkit-scrollbar {
  display: none;
}

.button-container {
  flex-shrink: 0;
  height: fit-content;
  width: 95%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  margin: 10px 0;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  background: transparent;
}

.settings-panel-btn {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background: var(--secondary-bg);
  transition: border-radius 0.3s ease;
}

.settings-panel-btn .icon-div {
  flex-shrink: 0;
  width: 10%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: transparent;
}
.settings-panel-btn .icon-div i {
  font-size: var(--medium-icon);
}

.settings-panel-btn .button-content {
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: transparent;
}

.settings-panel-btn .button-header {
  margin: 0;
  font: var(--primary-text-font);
}

.settings-panel-btn .button-description {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  font: var(--secondary-text-font);
  text-align: left;
  opacity: 0.7;
}

.settings-panel-btn:active {
  border-radius: 40px;
}

.logout-btn p {
  color: red !important;
}
.logout-btn i {
  color: red !important;
}

/*#region settings inner panel */
.settings-tab-inner-panel {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.top-bar-text {
  margin: 0;
  font: var(--secondary-header-font);
}

/*#region notifications */
.notification-container {
  width: 95%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  background: transparent;
}

.notification-div {
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  background: var(--secondary-bg);
}
.notification-div:first-child {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.notification-div:last-child {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.notification-header {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.notification-title {
  margin: 0;
  font: var(--secondary-header-font);
}

.remove-notification-btn {
  background: #ff2020;
}
.remove-notification-btn:hover {
  background-color: #af2020;
}
.remove-notification-btn:active {
  background-color: #af2020;
}
.remove-notification-btn i {
  font-size: var(--small-icon);
}

.notification-meta-data-div {
  margin: 0;
  padding: 0;
  gap: 5px;
  display: flex;
  align-items: baseline;
}
.notification-time {
  margin: 0;
  font: var(--tertiary-text-font);
}
.notification-date {
  margin: 0;
  font: var(--secondary-text-font);
}

.notification-content {
  margin: 15px 0 0 0;
  font: var(--primary-text-font);
}
/*#endregion notifications */

.settings-section {
  flex-shrink: 0;
  width: 95%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 0 20px 0;
  padding: 10px 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  background: var(--secondary-bg);
}

.settings-section hr {
  width: 90%;
  border: none;
  border-bottom: 0.5px solid var(--tertiary-bg);
}

.inactive {
  opacity: 0.5;
}

/*#region theme selection */
.selection-div {
  flex-shrink: 0;
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

.selection-header {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  display: flex;
}
.selection-header-text {
  margin: 0;
  font: var(--primary-text-font);
}

.selection-content {
  height: fit-content;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  background: transparent;
}

.selection-option-container {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
}

.selection-option {
  cursor: pointer;
  height: fit-content;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.option-image-div {
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  background: transparent;
}

[data-orientation="vertical"] .option-image {
  min-height: 30vw;
  min-width: 20vw;
}

[data-orientation="horizontal"] .option-image {
  min-height: 20vh;
  min-width: 30vh;
}

.option-image {
  position: relative;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--primary-bg);
}

.option-image-inner-div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 50%;
  border-radius: 10px;
  margin: 5px 5px auto auto;
  background: var(--secondary-bg);
}
[data-orientation="horizontal"] .option-image-inner-div {
  height: 90%;
  width: 20%;
  margin: auto auto auto 5%;
}
[data-orientation="vertical"] .option-image-inner-div {
  height: 20%;
  width: 90%;
  margin: auto auto 10% auto;
}

.selection-indicator {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
}

.selection-indicator p {
  margin: 0;
  font: var(--primary-text-font);
}
.selection-indicator i {
  font-size: var(--medium-icon);
}

/*#endregion theme selection */

/*#region slider */
.slider-div {
  --slider-height: 10px;
  --slider-thumb-height: 20px;
  --slider-thumb-width: 5px;

  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.slider-div .header {
  width: 100%;
}

.slider-div-text {
  margin: 5px 0;
  font: var(--primary-text-font);
}

.slider-div .content {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.setting-slider {
  --track-height: 20px;
  --thumb-height: 40px;
  --thumb-width: 10px;

  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  margin: calc(var(--thumb-height)/2) 0;
  outline: none;
  background: transparent;
}
.setting-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--track-height);
  border-radius: calc(var(--track-height)/2);
  background: var(--secondary-text-color);
}

.setting-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: var(--thumb-height);
  width: var(--thumb-width);
  margin: calc(calc(var(--track-height)/2) + var(--thumb-height) / -2) 0 0 0;
  border-radius: calc(var(--thumb-width)/2);
  transition: all 0.3s ease;
  background: var(--primary-text-color);
}

/*#endregion slider */

/*#region toggle switch */
.toggle-div {
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.toggle-div-text {
  margin: 0;
  font: var(--primary-text-font);
}

.setting-version-indicator {
  margin: 0 5px;
  font: var(--secondary-text-font);
  color: var(--secondary-text-color);
  opacity: 0.7;
}

.toggle-element {
  --toggle-switch-height: 35px;
  --toggle-switch-width: 60px;
  --toggle-ball-size: 31px;

  position: relative;
  cursor: pointer;
  height: var(--toggle-switch-height);
  width: var(--toggle-switch-width);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: calc(var(--toggle-switch-height) / 2);
  transition: all 0.2s ease-out;
  background: var(--tertiary-bg);
}

.toggle-ball {
  --required-margin: calc((var(--toggle-switch-height) - var(--toggle-ball-size)) / 2);
  position: absolute;
  top: var(--required-margin);
  right: 0;
  bottom: 0;
  left: var(--required-margin);
  height: var(--toggle-ball-size);
  width: var(--toggle-ball-size);
  margin: 0;
  border: none;
  border-radius: 50%;
  background: var(--secondary-bg);
  transition: transform 250ms ease-out;
}

.toggle-element.active {
  background: var(--primary-text-color);
}
.toggle-element.active .toggle-ball {
  transform: translateX(calc(var(--toggle-switch-width) - var(--toggle-ball-size) - var(--required-margin) * 2));
}
/*#endregion toggle switch */

/*#region password form */
.change-pass-form {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.change-pass-input-div {
  height: 55px;
  width: 90%;
  max-width: 500px;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--primary-text-color);
  display: flex;
  align-items: center;
}

.change-pass-input-div i {
  width: 10%;
  margin: auto;
  font-size: var(--medium-icon);
  text-align: center;
}

.change-pass-input {
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  outline: none;
  border: none;
  font: var(--primary-text-font);
  background: transparent;
}
.change-pass-input::placeholder {
  font: var(--primary-text-font);
  color: var(--secondary-text-color);
  opacity: 0.7;
}

.change-pass-btn {
  cursor: pointer;
  height: 55px;
  width: 90%;
  max-width: 500px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  border: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-text-color);
}

.change-pass-btn p {
  font: var(--primary-text-font);
  color: var(--primary-bg);
}

.change-pass-btn.cancel {
  margin-top: 0px;
  background: transparent;
}

.change-pass-btn.cancel p {
  color: var(--primary-text-color);
}

/*#endregion password form */

.clear-history-btn {
  cursor: pointer;
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 5px 15px;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
}
.clear-history-btn p {
  margin: 0;
  font: var(--primary-text-font);
  font-weight: 600;
  color: red;
}
