.account-info-div {
  width: 100%;
  padding: 15px 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-picture {
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 10vh;
  width: 10vh;
  margin: 0;
  border: 0.5px solid black;
  border-radius: 50%;
}
.profile-picture i {
  font-size: 50px;
}

.profile-info-card {
  width: 100%;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-name {
  cursor: default;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
}

.login-btn {
  cursor: pointer;
  width: 60%;
  border: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vmin;
  font-weight: 700;
}

.stats-div {
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 5px;
  display: flex;
  justify-content: center;
}

.stats-div button {
  cursor: pointer;
  gap: 1vw;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
}
.stats-div button p {
  margin: 5px 0;
  font-size: 2.5vmin;
}

.settings-tab-panel {
  flex-grow: 1;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 200px 0;
  gap: 2px;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#app.light-mode .settings-tab-panel,
#app.light-mode .settings-tab-inner-panel {
  background-color: rgba(250, 250, 250);
}
#app.light-mode.blur-on .settings-tab-panel,
#app.light-mode.blur-on .settings-tab-inner-panel {
  background-color: rgba(255, 255, 255, 0.7);
}
#app.dark-mode .settings-tab-panel,
#app.dark-mode .settings-tab-inner-panel {
  background-color: rgba(20, 20, 20);
}
#app.dark-mode.blur-on .settings-tab-panel,
#app.dark-mode.blur-on .settings-tab-inner-panel {
  background-color: rgba(0, 0, 0, 0.6);
}
.settings-tab-panel::-webkit-scrollbar,
.settings-tab-inner-panel::-webkit-scrollbar {
  display: none;
}

.settings-panel-button {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 20px;
  border: none;
  display: flex;
  align-items: center;
  background: transparent;
}
.settings-panel-button p {
  margin: 0 auto 0 20px;
  font: 500 18px Arial;
}
.settings-panel-button i {
  font: 500 22px Arial;
}

.logout-btn p {
  color: red !important;
}
.logout-btn i {
  color: red !important;
}

.settings-tab-inner-panel {
  height: 80%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  gap: 0.5vh;
  border: none;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.settings-tab-inner-panel .top-bar {
  height: 8%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 25px 20px;
  gap: 0.5vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
}

.back-btn {
  cursor: pointer;
  gap: 5px;
  border: none;
  display: flex;
  align-items: center;
  background: transparent;
}
.back-btn span {
  font-size: 22px;
}
.back-btn p {
  font: 500 19px Arial;
}

.settings-tab-inner-panel .content {
  height: 92%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0 0 200px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
}
.settings-tab-inner-panel .content::-webkit-scrollbar {
  display: none;
}

.notification-div {
  width: 90%;
  box-sizing: border-box;
  margin: 10px 0 10px 0;
  padding: 10px 15px;
  gap: 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.notifications-div::-webkit-scrollbar {
  display: none;
}

.notification-header {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.notification-title {
  margin: 0;
  font: 700 18px Arial;
}

.remove-notification-btn {
  cursor: pointer;
  padding: 0 15px;
  gap: 10px;
  border: 0.2px solid rgba(255, 0, 0, 0.3);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: all 0.2s ease;
}
.remove-notification-btn:hover {
  background-color: rgba(255, 50, 50, 0.1);
}
.remove-notification-btn:active {
  background-color: rgba(255, 50, 50, 0.1);
}
.remove-notification-btn span {
  font-size: 1.2rem;
  color: rgba(255, 50, 50) !important;
}
.remove-notification-btn p {
  color: rgba(255, 50, 50) !important;
}

.notification-meta-data-div {
  margin: 0;
  padding: 0;
  gap: 5px;
  display: flex;
  align-items: baseline;
}
.notification-time {
  margin: 0;
  font: 300 12px Arial;
}
.notification-date {
  margin: 0;
  font: 300 14px Arial;
}

.notification-content {
  margin: 15px 0 0 0;
  font: 300 16px Arial-;
}

.toggle-div {
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-element {
  cursor: pointer;
  height: 35px;
  width: 60px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 2px solid black;
  border-radius: 17.5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.2s ease-out;
}
#app.light-mode .toggle-element {
  border: 2px solid rgba(80, 80, 80);
  background: rgb(200, 200, 200);
}

.toggle-element.active {
  justify-content: flex-end;
}
#app.light-mode .toggle-element.active {
  border: 2px solid rgb(80, 80, 80);
  background: rgb(80, 80, 80);
}


.toggle-ball {
  height: 20px;
  width: 20px;
  margin: 5px;
  border: none;
  border-radius: 50%;
  background-color: white;
  transition: all 0.2s ease-out;
}
#app.light-mode .toggle-element .toggle-ball {
  background: rgba(80, 80, 80);
}

.toggle-element.active .toggle-ball {
  height: 25px;
  width: 25px;
  margin: 3.5px;
}
#app.light-mode .toggle-element.active .toggle-ball {
  background: rgb(200, 200, 200);
}

.change-pass-form {
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.change-pass-input-div {
  height: 55px;
  width: 90%;
  max-width: 500px;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
}
.change-pass-input-div i {
  width: 10%;
  margin: auto;
  font-size: 20px;
  text-align: center;
  background: transparent;
}

.change-pass-input {
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  border: none;
  background: transparent;
  font-size: 18px;
}
.change-pass-input::placeholder {
  font-size: 18px;
}
.change-pass-input:focus {
  outline: none;
}

.change-pass-btn {
  cursor: pointer;
  height: 55px;
  width: 90%;
  max-width: 500px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

#bnClearSearchHistory,
#bnClearPlayedSongHistory {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  background: transparent;
  height: fit-content;
  min-height: 3.5rem;
  width: 95%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0.5rem;
}

.theme-selection-panel {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 60%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px;
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.theme-panel-btn {
  height: 35px;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  gap: 10px;
  border: none;
  background: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.theme-panel-btn p {
  margin: 0;
  font: 400 18px Arial;
}

.theme-panel-btn.cancel {
  height: fit-content;
  padding-right: 5px;
  justify-content: flex-end;
}

/* DARK MODE SETTINGS */
#app.dark-mode .profile-picture i {
  color: rgba(255, 255, 255, 0.8);
}

#app.dark-mode .login-btn {
  background-color: rgba(50, 50, 50);
}
#app.dark-mode.blur-on .login-btn {
  background-color: rgba(0, 0, 0, 0.8);
}



#app.dark-mode .change-pass-input-div {
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
}

#app.dark-mode .change-pass-input {
  color: white;
}
#app.dark-mode .change-pass-input::placeholder {
  color: rgb(150, 150, 150);
}

#app.dark-mode .change-pass-btn {
  background-color: white;
}
#app.dark-mode .change-pass-btn p {
  color: black;
}

#app.dark-mode .change-pass-btn.cancel {
  background: transparent;
}
#app.dark-mode .change-pass-btn.cancel p {
  color: white;
}

#app.dark-mode .notification-div {
  background: rgba(50, 50, 50);
}
#app.dark-mode.blur-on .notification-div {
  background: rgba(255, 255, 255, 0.05);
}

#app.dark-mode .toggle-element {
  border: 2px solid rgb(150, 150, 150);
  background: rgb(50, 50, 50);
}

#app.dark-mode .toggle-element.active {
  border: 2px solid rgb(100, 100, 100);
  background: rgb(100, 100, 100);
}

#app.dark-mode .toggle-element.active .toggle-ball {
  background: rgb(0, 0, 0);
}

/* LIGHT MODE SETTINGS */
#app.light-mode .profile-picture i {
  color: rgba(0, 0, 0, 0.8);
}

#app.light-mode .login-btn {
  background-color: rgba(255, 255, 255);
}
#app.light-mode.blur-on .login-btn {
  background-color: rgba(255, 255, 255, 0.8);
}


#app.light-mode .change-pass-input-div {
  border-bottom: 2px solid black;
}
#app.light-mode .change-pass-input {
  color: black;
}
#app.light-mode .change-pass-input::placeholder {
  color: rgb(100, 100, 100);
}

#app.light-mode .change-pass-btn {
  background-color: black;
}
#app.light-mode .change-pass-btn p {
  color: white;
}

#app.light-mode .change-pass-btn.cancel {
  background: transparent;
}
#app.light-mode .change-pass-btn.cancel p {
  color: rgb(0, 0, 0);
}

#app.light-mode .notification-div {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(170, 170, 170);
}
#app.light-mode.blur-on .notification-div {
  background: rgba(0, 0, 0, 0.05);
}